
body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
}

form {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(0, 183, 255);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
.success-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}
.container2 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

